In [112]:
import numpy as np
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
import math
from sklearn.metrics import accuracy_score

In [221]:
df = pd.read_csv('.\\train.csv')

In [224]:
d = dict(df['Ticket'].value_counts())
print(d)

{'1601': 7, 'CA. 2343': 7, '347082': 7, '347088': 6, '3101295': 6, 'CA 2144': 6, 'S.O.C. 14879': 5, '382652': 5, '2666': 4, '349909': 4, 'PC 17757': 4, 'W./C. 6608': 4, '113760': 4, '113781': 4, '347077': 4, '17421': 4, 'LINE': 4, '19950': 4, '4133': 4, 'PC 17572': 3, '24160': 3, '13502': 3, 'PC 17582': 3, '345773': 3, 'C.A. 34651': 3, '29106': 3, '371110': 3, '248727': 3, 'PC 17760': 3, 'F.C.C. 13529': 3, '363291': 3, '230080': 3, '110413': 3, '110152': 3, '35273': 3, '239853': 3, '347742': 3, 'SC/Paris 2123': 3, 'PC 17755': 3, 'C.A. 31921': 3, '113806': 2, '347080': 2, '2659': 2, '19943': 2, 'PC 17593': 2, 'PC 17604': 2, '113798': 2, '36947': 2, 'A/4 48871': 2, 'PC 17485': 2, '28403': 2, '248738': 2, 'PC 17477': 2, '11767': 2, '364849': 2, '13507': 2, '36928': 2, '358585': 2, '16966': 2, '2699': 2, '2653': 2, '243847': 2, '110465': 2, '220845': 2, '2651': 2, 'C.A. 2315': 2, '19928': 2, '370129': 2, '370365': 2, '11668': 2, '11751': 2, 'P/PP 3381': 2, 'PC 17758': 2, '2668': 2, '2691': 2, '250644': 2, '230433': 2, '2661': 2, '239865': 2, 'WE/P 5735': 2, '111361': 2, '36973': 2, '17474': 2, 'S.C./PARIS 2079': 2, '113803': 2, 'PC 17558': 2, '250649': 2, '244252': 2, '347054': 2, '250655': 2, 'C.A. 33112': 2, '11967': 2, 'PC 17608': 2, '376564': 2, '250647': 2, '364516': 2, '345764': 2, '54636': 2, '113505': 2, '26360': 2, 'PP 9549': 2, 'W./C. 6607': 2, '31027': 2, '19877': 2, '2627': 2, '2678': 2, '3101278': 2, '12749': 2, '349237': 2, '7534': 2, '2908': 2, 'A/5. 3336': 2, '244367': 2, 'C.A. 37671': 2, 'PC 17611': 2, '367226': 2, '367230': 2, '35281': 2, 'C.A. 2673': 2, '19996': 2, '113789': 2, '237736': 2, 'STON/O2. 3101279': 2, '2665': 2, 'PC 17569': 2, '230136': 2, '392096': 2, '113572': 2, 'PC 17761': 2, '231919': 2, 'S.O./P.P. 3': 2, '29750': 2, '17453': 2, '113776': 2, 'SOTON/O.Q. 3101306': 1, 'A.5. 11206': 1, '330919': 1, '29108': 1, '349912': 1, 'C.A./SOTON 34068': 1, '349254': 1, '11755': 1, '28228': 1, '4579': 1, '7552': 1, '28213': 1, '349233': 1, '365226': 1, 'Fa 265302': 1, 'STON/O 2. 3101288': 1, 'SC/Paris 2163': 1, '112277': 1, 'STON/O2. 3101271': 1, 'C.A. 24579': 1, 'A/5 21174': 1, '2648': 1, 'SOTON/OQ 392076': 1, '237668': 1, '349251': 1, '113787': 1, '28220': 1, '2683': 1, '315097': 1, '323592': 1, '234360': 1, '315086': 1, '350406': 1, '362316': 1, 'C.A. 29178': 1, '29103': 1, '342826': 1, 'S.C./A.4. 23567': 1, '31028': 1, '347470': 1, '111240': 1, '315151': 1, 'A/4 45380': 1, 'PC 17603': 1, '4135': 1, '392091': 1, '28664': 1, '336439': 1, '350050': 1, '347067': 1, '17465': 1, 'STON/O 2. 3101292': 1, '34218': 1, '330980': 1, '349206': 1, '367228': 1, '3101264': 1, '113807': 1, 'W./C. 14263': 1, '237789': 1, '364506': 1, '250648': 1, '350046': 1, 'C.A. 33111': 1, 'CA. 2314': 1, '233866': 1, 'SO/C 14885': 1, 'SOTON/O2 3101287': 1, 'A.5. 18509': 1, '36864': 1, '347089': 1, 'A/5. 13032': 1, '27042': 1, '347063': 1, '2625': 1, '2695': 1, '3474': 1, '364500': 1, '111427': 1, 'C.A. 17248': 1, '2689': 1, '315088': 1, '19988': 1, '693': 1, 'SOTON/OQ 3101317': 1, '2694': 1, '315153': 1, '347062': 1, 'C 7075': 1, 'PC 17473': 1, '248723': 1, '350029': 1, '371060': 1, '29011': 1, '370373': 1, '349239': 1, '236171': 1, '11752': 1, '211536': 1, '364498': 1, '113509': 1, '345783': 1, '13567': 1, '349236': 1, '341826': 1, '343276': 1, '368323': 1, 'A/5 3594': 1, 'PC 17600': 1, '315096': 1, '229236': 1, 'SOTON/OQ 392082': 1, '330958': 1, '364512': 1, '2223': 1, '113784': 1, '312993': 1, '315090': 1, 'SOTON/O.Q. 3101307': 1, '376566': 1, '113028': 1, 'C 7077': 1, '345767': 1, '330923': 1, '343120': 1, '13049': 1, 'F.C.C. 13531': 1, 'A/5 3536': 1, '347081': 1, '17466': 1, '2663': 1, '347083': 1, '394140': 1, '13568': 1, '113050': 1, '8471': 1, 'STON/O 2. 3101273': 1, '36568': 1, '36866': 1, '349224': 1, '2662': 1, 'C 7076': 1, 'SOTON/OQ 392090': 1, '315084': 1, 'C.A. 29566': 1, 'SOTON/O2 3101272': 1, '239856': 1, '239855': 1, 'STON/O 2. 3101294': 1, '347076': 1, 'STON/O2. 3101290': 1, 'C.A. 34260': 1, '13509': 1, '392092': 1, '19972': 1, 'C.A. 24580': 1, '345779': 1, '347061': 1, 'C.A. 5547': 1, '110813': 1, '17764': 1, '349242': 1, '3411': 1, '231945': 1, '2677': 1, '244373': 1, '2687': 1, '315098': 1, '345765': 1, '111426': 1, '2641': 1, '244358': 1, '29105': 1, '2680': 1, '370376': 1, '345774': 1, '364851': 1, '349257': 1, '113788': 1, '350043': 1, 'PC 17609': 1, '3101281': 1, 'A/4. 20589': 1, 'W/C 14208': 1, '248706': 1, '234818': 1, '28134': 1, 'PC 17596': 1, '112379': 1, '7545': 1, 'C.A. 33595': 1, '347071': 1, '350026': 1, '244278': 1, 'A/S 2816': 1, '36209': 1, 'STON/O 2. 3101280': 1, '345769': 1, '236852': 1, '370372': 1, '349222': 1, 'W./C. 14258': 1, '364850': 1, '349244': 1, '11765': 1, '349217': 1, '345777': 1, '348124': 1, '330909': 1, 'A./5. 3235': 1, '349249': 1, '350417': 1, '7598': 1, '19947': 1, '349214': 1, '113055': 1, 'PC 17599': 1, 'PP 4348': 1, '350042': 1, 'SC/PARIS 2149': 1, '2690': 1, '315082': 1, '17463': 1, '113501': 1, '4136': 1, '239854': 1, 'PC 17754': 1, 'PC 17595': 1, '347743': 1, '350035': 1, 'A/5 21173': 1, 'STON/O 2. 3101269': 1, '248747': 1, '11771': 1, '113056': 1, '349209': 1, 'SC/PARIS 2131': 1, 'S.O./P.P. 751': 1, '3101296': 1, '315037': 1, '11753': 1, '347464': 1, '113503': 1, '28206': 1, '250643': 1, '2697': 1, '2650': 1, '2674': 1, '110564': 1, '244310': 1, 'STON/O 2. 3101286': 1, 'SC/PARIS 2133': 1, 'C 17369': 1, '113043': 1, '2631': 1, '345778': 1, 'STON/O2. 3101282': 1, '349253': 1, '236853': 1, '11774': 1, '349204': 1, '370377': 1, '248733': 1, '28665': 1, 'A/5. 3337': 1, '349256': 1, '11813': 1, '21440': 1, '13213': 1, '2700': 1, '31418': 1, '250652': 1, '2667': 1, '28424': 1, '348121': 1, '386525': 1, '364846': 1, '345572': 1, '244361': 1, '347468': 1, '347064': 1, '248731': 1, '349225': 1, '35851': 1, '334912': 1, '7546': 1, '113794': 1, '349201': 1, '2623': 1, '113804': 1, '349910': 1, 'A4. 54510': 1, '371362': 1, '4138': 1, '349234': 1, '234604': 1, 'C.A. 18723': 1, '3101298': 1, 'C.A. 6212': 1, '2693': 1, '345780': 1, '26707': 1, 'STON/O 2. 3101275': 1, '347073': 1, '350404': 1, '11769': 1, 'PC 17585': 1, '384461': 1, '4137': 1, '349240': 1, 'PC 17590': 1, '349246': 1, '3101265': 1, '367655': 1, '345364': 1, '113796': 1, '374910': 1, '349207': 1, '2620': 1, 'A/5. 10482': 1, '315089': 1, '2685': 1, '349227': 1, '7553': 1, '13214': 1, '345770': 1, 'W./C. 6609': 1, 'PC 17610': 1, 'A/5 3540': 1, '348123': 1, '223596': 1, '315094': 1, '349247': 1, '330877': 1, '349212': 1, 'A/5 2466': 1, '113051': 1, '2649': 1, '347085': 1, '347466': 1, 'SW/PP 751': 1, '349215': 1, '347060': 1, '218629': 1, '36967': 1, '349219': 1, '368703': 1, '5727': 1, '112058': 1, 'A/5 21171': 1, '226593': 1, 'SOTON/O.Q. 392078': 1, '350036': 1, '347069': 1, '14312': 1, '330931': 1, '349241': 1, '324669': 1, '237798': 1, '7540': 1, '2664': 1, '113514': 1, '349210': 1, '240929': 1, '2926': 1, '3460': 1, 'A/5. 2151': 1, '370371': 1, 'PC 17612': 1, '65303': 1, '2647': 1, 'PC 17482': 1, '12460': 1, '12233': 1, '347068': 1, '350047': 1, '28425': 1, '350407': 1, '17464': 1, 'C.A. 29395': 1, '243880': 1, '330932': 1, 'SOTON/O.Q. 3101311': 1, '695': 1, 'W.E.P. 5734': 1, '349252': 1, '370370': 1, '330979': 1, '349245': 1, '248740': 1, '349208': 1, '373450': 1, '250646': 1, '112050': 1, 'SC/AH 29037': 1, '367229': 1, '113767': 1, 'S.O.P. 1166': 1, '347087': 1, 'A/4. 39886': 1, '112053': 1, '382649': 1, '230434': 1, '363294': 1, '111320': 1, '374746': 1, 'SC/PARIS 2167': 1, 'STON/O2. 3101283': 1, '347078': 1, '237442': 1, 'PC 17483': 1, '6563': 1, 'A/5. 851': 1, '312991': 1, 'SCO/W 1585': 1, '219533': 1, 'A/5 21172': 1, '2629': 1, 'SC 1748': 1, 'PC 17601': 1, '349203': 1, '350034': 1, '383121': 1, 'SOTON/O.Q. 392087': 1, '3101267': 1, 'SOTON/O.Q. 3101305': 1, 'STON/O 2. 3101285': 1, 'STON/O 2. 3101274': 1, '2624': 1, '2669': 1, '237565': 1, '349228': 1, '3101276': 1, 'SC/AH 3085': 1, 'PC 17592': 1, 'C.A. 31026': 1, 'C 4001': 1, '350052': 1, 'SOTON/OQ 3101316': 1, '365222': 1, '2628': 1, '27267': 1, '364499': 1, 'PC 17605': 1, 'SOTON/OQ 392086': 1, '349213': 1, '35852': 1, '36963': 1, '19952': 1, '234686': 1, '65304': 1, 'PC 17475': 1, '220367': 1, 'F.C. 12750': 1, '228414': 1, '312992': 1, '9234': 1, '7267': 1, 'PC 17318': 1, 'PC 17476': 1, '29104': 1, '233639': 1, '111369': 1, '2686': 1, '111428': 1, '36865': 1, '345763': 1, '28551': 1, '2003': 1, '14973': 1, '382651': 1, '113059': 1, '343095': 1, 'A/4. 34244': 1, '237671': 1, '367231': 1, '250653': 1, '2672': 1, '250651': 1, 'S.P. 3464': 1, '350060': 1, '363592': 1, 'S.W./PP 752': 1, '350025': 1, 'STON/O 2. 3101289': 1, 'SOTON/O.Q. 3101312': 1, '349223': 1, '112052': 1, '350048': 1, '244270': 1, '372622': 1, '364511': 1, '8475': 1, '16988': 1, '343275': 1, '370375': 1, '226875': 1, '14311': 1, '2626': 1, '113510': 1, '248698': 1, '349231': 1, '113783': 1, '323951': 1, '349216': 1, '347074': 1, 'A/5 3902': 1, '2671': 1, 'PC 17759': 1, '374887': 1, '112059': 1, '370369': 1, '65306': 1, 'A/5 2817': 1, '113800': 1, 'SOTON/OQ 392089': 1, '349205': 1, 'PC 17597': 1, '33638': 1, '113773': 1, '14313': 1, '367232': 1, '364848': 1, 'PC 17474': 1, '345781': 1, 'STON/O 2. 3101293': 1, '349221': 1, '349218': 1, '113792': 1, '3101277': 1, '349243': 1, 'SC/AH Basle 541': 1, '27849': 1, '349248': 1, 'A./5. 2152': 1, '335097': 1, '315093': 1, 'SOTON/O.Q. 3101310': 1, 'PC 17756': 1, '330959': 1, '29751': 1, 'SC/PARIS 2146': 1, '330935': 1, '4134': 1, '335677': 1, 'F.C.C. 13528': 1, '113786': 1}

In [225]:
df['Ticket'].map(d)

0      1
1      1
2      1
3      2
4      1
5      1
6      1
7      4
8      3
9      2
10     2
11     1
12     1
13     7
14     1
15     1
16     5
17     1
18     1
19     1
20     2
21     1
22     1
23     1
24     4
25     4
26     1
27     4
28     1
29     1
      ..
861    1
862    1
863    7
864    1
865    1
866    1
867    1
868    1
869    3
870    1
871    2
872    1
873    1
874    2
875    1
876    2
877    1
878    1
879    2
880    2
881    1
882    1
883    1
884    1
885    5
886    1
887    1
888    2
889    1
890    1
Name: Ticket, Length: 891, dtype: int64

In [4]:
df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [180]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [211]:
df['Name'] = df['Name'].str.split(',',expand=True)[1].str.split('.',expand=True)[0]

In [207]:

df['Cabin'] = df['Cabin'].str.split(' ').str.len()
df['Cabin'] = df['Cabin'].fillna(0)

AttributeError: Can only use .str accessor with string values, which use np.object_ dtype in pandas

In [209]:
df['Cabin']

0      0.0
1      1.0
2      0.0
3      1.0
4      0.0
5      0.0
6      1.0
7      0.0
8      0.0
9      0.0
10     1.0
11     1.0
12     0.0
13     0.0
14     0.0
15     0.0
16     0.0
17     0.0
18     0.0
19     0.0
20     0.0
21     1.0
22     0.0
23     1.0
24     0.0
25     0.0
26     0.0
27     3.0
28     0.0
29     0.0
      ...
861    0.0
862    1.0
863    0.0
864    0.0
865    0.0
866    0.0
867    1.0
868    0.0
869    0.0
870    0.0
871    1.0
872    3.0
873    0.0
874    0.0
875    0.0
876    0.0
877    0.0
878    0.0
879    1.0
880    0.0
881    0.0
882    0.0
883    0.0
884    0.0
885    0.0
886    0.0
887    1.0
888    0.0
889    1.0
890    0.0
Name: Cabin, Length: 891, dtype: float64

In [210]:
from sklearn.feature_extraction import DictVectorizer

In [213]:
test = df[['Name']]
vec=DictVectorizer(sparse=False) #sparse=False意思是不用稀疏矩阵表示
test=vec.fit_transform(test.to_dict(orient='record'))

In [215]:
test[0]

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0.])

In [216]:
vec.get_feature_names()

['Name= Capt',
 'Name= Col',
 'Name= Don',
 'Name= Dr',
 'Name= Jonkheer',
 'Name= Lady',
 'Name= Major',
 'Name= Master',
 'Name= Miss',
 'Name= Mlle',
 'Name= Mme',
 'Name= Mr',
 'Name= Mrs',
 'Name= Ms',
 'Name= Rev',
 'Name= Sir',
 'Name= the Countess']

In [69]:
type(df)

pandas.core.frame.DataFrame

In [8]:
df.loc[:,'Age'].fillna(0)

0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
5       0.0
6      54.0
7       2.0
8      27.0
9      14.0
10      4.0
11     58.0
12     20.0
13     39.0
14     14.0
15     55.0
16      2.0
17      0.0
18     31.0
19      0.0
20     35.0
21     34.0
22     15.0
23     28.0
24      8.0
25     38.0
26      0.0
27     19.0
28      0.0
29      0.0
       ...
861    21.0
862    48.0
863     0.0
864    24.0
865    42.0
866    27.0
867    31.0
868     0.0
869     4.0
870    26.0
871    47.0
872    33.0
873    47.0
874    28.0
875    15.0
876    20.0
877    19.0
878     0.0
879    56.0
880    25.0
881    33.0
882    22.0
883    28.0
884    25.0
885    39.0
886    27.0
887    19.0
888     0.0
889    26.0
890    32.0
Name: Age, Length: 891, dtype: float64

In [70]:
df_test = df

In [77]:
df_test.drop(['Name','Ticket'],axis=1)

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Cabin,Embarked
0,1,0,3,male,22.0,1,0,7.2500,0,S
1,2,1,1,female,38.0,1,0,71.2833,1,C
2,3,1,3,female,26.0,0,0,7.9250,0,S
3,4,1,1,female,35.0,1,0,53.1000,1,S
4,5,0,3,male,35.0,0,0,8.0500,0,S
5,6,0,3,male,0.0,0,0,8.4583,0,Q
6,7,0,1,male,54.0,0,0,51.8625,1,S
7,8,0,3,male,2.0,3,1,21.0750,0,S
8,9,1,3,female,27.0,0,2,11.1333,0,S
9,10,1,2,female,14.0,1,0,30.0708,0,C
10,11,1,3,female,4.0,1,1,16.7000,1,S
11,12,1,1,female,58.0,0,0,26.5500,1,S
12,13,0,3,male,20.0,0,0,8.0500,0,S
13,14,0,3,male,39.0,1,5,31.2750,0,S
14,15,0,3,female,14.0,0,0,7.8542,0,S
15,16,1,2,female,55.0,0,0,16.0000,0,S
16,17,0,3,male,2.0,4,1,29.1250,0,Q
17,18,1,2,male,0.0,0,0,13.0000,0,S
18,19,0,3,female,31.0,1,0,18.0000,0,S
19,20,1,3,female,0.0,0,0,7.2250,0,C
20,21,0,2,male,35.0,0,0,26.0000,0,S
21,22,1,2,male,34.0,0,0,13.0000,1,S
22,23,1,3,female,15.0,0,0,8.0292,0,Q
23,24,1,1,male,28.0,0,0,35.5000,1,S
24,25,0,3,female,8.0,3,1,21.0750,0,S
25,26,1,3,female,38.0,1,5,31.3875,0,S
26,27,0,3,male,0.0,0,0,7.2250,0,C
27,28,0,1,male,19.0,3,2,263.0000,3,S
28,29,1,3,female,0.0,0,0,7.8792,0,Q
29,30,0,3,male,0.0,0,0,7.8958,0,S
...,...,...,...,...,...,...,...,...,...,...
861,862,0,2,male,21.0,1,0,11.5000,0,S
862,863,1,1,female,48.0,0,0,25.9292,1,S
863,864,0,3,female,0.0,8,2,69.5500,0,S
864,865,0,2,male,24.0,0,0,13.0000,0,S
865,866,1,2,female,42.0,0,0,13.0000,0,S
866,867,1,2,female,27.0,1,0,13.8583,0,C
867,868,0,1,male,31.0,0,0,50.4958,1,S
868,869,0,3,male,0.0,0,0,9.5000,0,S
869,870,1,3,male,4.0,1,1,11.1333,0,S
870,871,0,3,male,26.0,0,0,7.8958,0,S
871,872,1,1,female,47.0,1,1,52.5542,1,S
872,873,0,1,male,33.0,0,0,5.0000,3,S
873,874,0,3,male,47.0,0,0,9.0000,0,S
874,875,1,2,female,28.0,1,0,24.0000,0,C
875,876,1,3,female,15.0,0,0,7.2250,0,C
876,877,0,3,male,20.0,0,0,9.8458,0,S
877,878,0,3,male,19.0,0,0,7.8958,0,S
878,879,0,3,male,0.0,0,0,7.8958,0,S
879,880,1,1,female,56.0,0,1,83.1583,1,C
880,881,1,2,female,25.0,0,1,26.0000,0,S
881,882,0,3,male,33.0,0,0,7.8958,0,S
882,883,0,3,female,22.0,0,0,10.5167,0,S
883,884,0,2,male,28.0,0,0,10.5000,0,S
884,885,0,3,male,25.0,0,0,7.0500,0,S
885,886,0,3,female,39.0,0,5,29.1250,0,Q
886,887,0,2,male,27.0,0,0,13.0000,0,S
887,888,1,1,female,19.0,0,0,30.0000,1,S
888,889,0,3,female,0.0,1,2,23.4500,0,S
889,890,1,1,male,26.0,0,0,30.0000,1,C
890,891,0,3,male,32.0,0,0,7.7500,0,Q

In [72]:
df_test['Age'] = df_test['Age'].fillna(0)

In [73]:
df_test['Cabin'] = df_test['Cabin'].fillna(0)

In [74]:
for i in range(len(df_test['Cabin'])):
    if df_test['Cabin'][i] != 0:
#         print(i)
        num = df_test['Cabin'][i].split(' ')
#         print(len(num))
#         print('\n')
        df_test['Cabin'][i] = len(num)

E:\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys

In [75]:
df_test['Cabin']

0      0
1      1
2      0
3      1
4      0
5      0
6      1
7      0
8      0
9      0
10     1
11     1
12     0
13     0
14     0
15     0
16     0
17     0
18     0
19     0
20     0
21     1
22     0
23     1
24     0
25     0
26     0
27     3
28     0
29     0
      ..
861    0
862    1
863    0
864    0
865    0
866    0
867    1
868    0
869    0
870    0
871    1
872    3
873    0
874    0
875    0
876    0
877    0
878    0
879    1
880    0
881    0
882    0
883    0
884    0
885    0
886    0
887    1
888    0
889    1
890    0
Name: Cabin, Length: 891, dtype: object

In [79]:
df_test = df_test.drop(['PassengerId','Name','Ticket'],axis=1)

In [80]:
df_test

     Survived  Pclass     Sex   Age  SibSp  Parch      Fare Cabin Embarked
0           0       3    male  22.0      1      0    7.2500     0        S
1           1       1  female  38.0      1      0   71.2833     1        C
2           1       3  female  26.0      0      0    7.9250     0        S
3           1       1  female  35.0      1      0   53.1000     1        S
4           0       3    male  35.0      0      0    8.0500     0        S
5           0       3    male   0.0      0      0    8.4583     0        Q
6           0       1    male  54.0      0      0   51.8625     1        S
7           0       3    male   2.0      3      1   21.0750     0        S
8           1       3  female  27.0      0      2   11.1333     0        S
9           1       2  female  14.0      1      0   30.0708     0        C
10          1       3  female   4.0      1      1   16.7000     1        S
11          1       1  female  58.0      0      0   26.5500     1        S
12          0       3    male  20.0      0      0    8.0500     0        S
13          0       3    male  39.0      1      5   31.2750     0        S
14          0       3  female  14.0      0      0    7.8542     0        S
15          1       2  female  55.0      0      0   16.0000     0        S
16          0       3    male   2.0      4      1   29.1250     0        Q
17          1       2    male   0.0      0      0   13.0000     0        S
18          0       3  female  31.0      1      0   18.0000     0        S
19          1       3  female   0.0      0      0    7.2250     0        C
20          0       2    male  35.0      0      0   26.0000     0        S
21          1       2    male  34.0      0      0   13.0000     1        S
22          1       3  female  15.0      0      0    8.0292     0        Q
23          1       1    male  28.0      0      0   35.5000     1        S
24          0       3  female   8.0      3      1   21.0750     0        S
25          1       3  female  38.0      1      5   31.3875     0        S
26          0       3    male   0.0      0      0    7.2250     0        C
27          0       1    male  19.0      3      2  263.0000     3        S
28          1       3  female   0.0      0      0    7.8792     0        Q
29          0       3    male   0.0      0      0    7.8958     0        S
..        ...     ...     ...   ...    ...    ...       ...   ...      ...
861         0       2    male  21.0      1      0   11.5000     0        S
862         1       1  female  48.0      0      0   25.9292     1        S
863         0       3  female   0.0      8      2   69.5500     0        S
864         0       2    male  24.0      0      0   13.0000     0        S
865         1       2  female  42.0      0      0   13.0000     0        S
866         1       2  female  27.0      1      0   13.8583     0        C
867         0       1    male  31.0      0      0   50.4958     1        S
868         0       3    male   0.0      0      0    9.5000     0        S
869         1       3    male   4.0      1      1   11.1333     0        S
870         0       3    male  26.0      0      0    7.8958     0        S
871         1       1  female  47.0      1      1   52.5542     1        S
872         0       1    male  33.0      0      0    5.0000     3        S
873         0       3    male  47.0      0      0    9.0000     0        S
874         1       2  female  28.0      1      0   24.0000     0        C
875         1       3  female  15.0      0      0    7.2250     0        C
876         0       3    male  20.0      0      0    9.8458     0        S
877         0       3    male  19.0      0      0    7.8958     0        S
878         0       3    male   0.0      0      0    7.8958     0        S
879         1       1  female  56.0      0      1   83.1583     1        C
880         1       2  female  25.0      0      1   26.0000     0        S
881         0       3    male  33.0      0      0    7.8958     0        S
882         0       3  female  22.0      0      0   10.5167     0        S
883         0       2    male  28.0      0      0   10.5000     0        S
884         0       3    male  25.0      0      0    7.0500     0        S
885         0       3  female  39.0      0      5   29.1250     0        Q
886         0       2    male  27.0      0      0   13.0000     0        S
887         1       1  female  19.0      0      0   30.0000     1        S
888         0       3  female   0.0      1      2   23.4500     0        S
889         1       1    male  26.0      0      0   30.0000     1        C
890         0       3    male  32.0      0      0    7.7500     0        Q

[891 rows x 9 columns]

In [83]:
writer = pd.ExcelWriter('titanic_after_precess_1.xlsx')
df_test.to_excel(writer)
writer.close()

In [94]:
try:
    print(np.where(df_test.isnull()))
except Exception as e:
    print(e)

(array([ 61, 829], dtype=int64), array([8, 8], dtype=int64))

In [99]:
df_test.iloc[:,8]

0      S
1      C
2      S
3      S
4      S
5      Q
6      S
7      S
8      S
9      C
10     S
11     S
12     S
13     S
14     S
15     S
16     Q
17     S
18     S
19     C
20     S
21     S
22     Q
23     S
24     S
25     S
26     C
27     S
28     Q
29     S
      ..
861    S
862    S
863    S
864    S
865    S
866    C
867    S
868    S
869    S
870    S
871    S
872    S
873    S
874    C
875    C
876    S
877    S
878    S
879    C
880    S
881    S
882    S
883    S
884    S
885    Q
886    S
887    S
888    S
889    C
890    Q
Name: Embarked, Length: 891, dtype: object

In [100]:
df_1 = df_test.drop(['Sex','Embarked'],axis=1)

In [101]:
df_1

     Survived  Pclass   Age  SibSp  Parch      Fare Cabin
0           0       3  22.0      1      0    7.2500     0
1           1       1  38.0      1      0   71.2833     1
2           1       3  26.0      0      0    7.9250     0
3           1       1  35.0      1      0   53.1000     1
4           0       3  35.0      0      0    8.0500     0
5           0       3   0.0      0      0    8.4583     0
6           0       1  54.0      0      0   51.8625     1
7           0       3   2.0      3      1   21.0750     0
8           1       3  27.0      0      2   11.1333     0
9           1       2  14.0      1      0   30.0708     0
10          1       3   4.0      1      1   16.7000     1
11          1       1  58.0      0      0   26.5500     1
12          0       3  20.0      0      0    8.0500     0
13          0       3  39.0      1      5   31.2750     0
14          0       3  14.0      0      0    7.8542     0
15          1       2  55.0      0      0   16.0000     0
16          0       3   2.0      4      1   29.1250     0
17          1       2   0.0      0      0   13.0000     0
18          0       3  31.0      1      0   18.0000     0
19          1       3   0.0      0      0    7.2250     0
20          0       2  35.0      0      0   26.0000     0
21          1       2  34.0      0      0   13.0000     1
22          1       3  15.0      0      0    8.0292     0
23          1       1  28.0      0      0   35.5000     1
24          0       3   8.0      3      1   21.0750     0
25          1       3  38.0      1      5   31.3875     0
26          0       3   0.0      0      0    7.2250     0
27          0       1  19.0      3      2  263.0000     3
28          1       3   0.0      0      0    7.8792     0
29          0       3   0.0      0      0    7.8958     0
..        ...     ...   ...    ...    ...       ...   ...
861         0       2  21.0      1      0   11.5000     0
862         1       1  48.0      0      0   25.9292     1
863         0       3   0.0      8      2   69.5500     0
864         0       2  24.0      0      0   13.0000     0
865         1       2  42.0      0      0   13.0000     0
866         1       2  27.0      1      0   13.8583     0
867         0       1  31.0      0      0   50.4958     1
868         0       3   0.0      0      0    9.5000     0
869         1       3   4.0      1      1   11.1333     0
870         0       3  26.0      0      0    7.8958     0
871         1       1  47.0      1      1   52.5542     1
872         0       1  33.0      0      0    5.0000     3
873         0       3  47.0      0      0    9.0000     0
874         1       2  28.0      1      0   24.0000     0
875         1       3  15.0      0      0    7.2250     0
876         0       3  20.0      0      0    9.8458     0
877         0       3  19.0      0      0    7.8958     0
878         0       3   0.0      0      0    7.8958     0
879         1       1  56.0      0      1   83.1583     1
880         1       2  25.0      0      1   26.0000     0
881         0       3  33.0      0      0    7.8958     0
882         0       3  22.0      0      0   10.5167     0
883         0       2  28.0      0      0   10.5000     0
884         0       3  25.0      0      0    7.0500     0
885         0       3  39.0      0      5   29.1250     0
886         0       2  27.0      0      0   13.0000     0
887         1       1  19.0      0      0   30.0000     1
888         0       3   0.0      1      2   23.4500     0
889         1       1  26.0      0      0   30.0000     1
890         0       3  32.0      0      0    7.7500     0

[891 rows x 7 columns]

In [130]:
train_features = df_2.iloc[:,1:]
train_labels = df_2.iloc[:,0]

In [131]:
train, test, train_suv, test_suv = train_test_split(train_features,
                                                          train_labels,
                                                          test_size=0.33,
                                                          random_state=42)

In [132]:
clf = RandomForestClassifier(n_estimators=10, max_depth=None,min_samples_split=2, random_state=0)

In [133]:
clf.fit(train,train_suv)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
            oob_score=False, random_state=0, verbose=0, warm_start=False)

In [134]:
pred = clf.predict(test)

In [135]:
print(accuracy_score(test_suv,pred))

0.8

In [136]:
from sklearn.model_selection import cross_val_score

In [137]:
scores = cross_val_score(clf, train_features, train_labels)

In [138]:
print(scores)

[0.75084175 0.83501684 0.79461279]

In [127]:
df_2 = df_test.replace({'male':1,'female':0.5})

In [128]:
df_2 = df_2.drop('Embarked',axis=1)

In [129]:
df_2

     Survived  Pclass  Sex   Age  SibSp  Parch      Fare  Cabin
0           0       3  1.0  22.0      1      0    7.2500      0
1           1       1  0.5  38.0      1      0   71.2833      1
2           1       3  0.5  26.0      0      0    7.9250      0
3           1       1  0.5  35.0      1      0   53.1000      1
4           0       3  1.0  35.0      0      0    8.0500      0
5           0       3  1.0   0.0      0      0    8.4583      0
6           0       1  1.0  54.0      0      0   51.8625      1
7           0       3  1.0   2.0      3      1   21.0750      0
8           1       3  0.5  27.0      0      2   11.1333      0
9           1       2  0.5  14.0      1      0   30.0708      0
10          1       3  0.5   4.0      1      1   16.7000      1
11          1       1  0.5  58.0      0      0   26.5500      1
12          0       3  1.0  20.0      0      0    8.0500      0
13          0       3  1.0  39.0      1      5   31.2750      0
14          0       3  0.5  14.0      0      0    7.8542      0
15          1       2  0.5  55.0      0      0   16.0000      0
16          0       3  1.0   2.0      4      1   29.1250      0
17          1       2  1.0   0.0      0      0   13.0000      0
18          0       3  0.5  31.0      1      0   18.0000      0
19          1       3  0.5   0.0      0      0    7.2250      0
20          0       2  1.0  35.0      0      0   26.0000      0
21          1       2  1.0  34.0      0      0   13.0000      1
22          1       3  0.5  15.0      0      0    8.0292      0
23          1       1  1.0  28.0      0      0   35.5000      1
24          0       3  0.5   8.0      3      1   21.0750      0
25          1       3  0.5  38.0      1      5   31.3875      0
26          0       3  1.0   0.0      0      0    7.2250      0
27          0       1  1.0  19.0      3      2  263.0000      3
28          1       3  0.5   0.0      0      0    7.8792      0
29          0       3  1.0   0.0      0      0    7.8958      0
..        ...     ...  ...   ...    ...    ...       ...    ...
861         0       2  1.0  21.0      1      0   11.5000      0
862         1       1  0.5  48.0      0      0   25.9292      1
863         0       3  0.5   0.0      8      2   69.5500      0
864         0       2  1.0  24.0      0      0   13.0000      0
865         1       2  0.5  42.0      0      0   13.0000      0
866         1       2  0.5  27.0      1      0   13.8583      0
867         0       1  1.0  31.0      0      0   50.4958      1
868         0       3  1.0   0.0      0      0    9.5000      0
869         1       3  1.0   4.0      1      1   11.1333      0
870         0       3  1.0  26.0      0      0    7.8958      0
871         1       1  0.5  47.0      1      1   52.5542      1
872         0       1  1.0  33.0      0      0    5.0000      3
873         0       3  1.0  47.0      0      0    9.0000      0
874         1       2  0.5  28.0      1      0   24.0000      0
875         1       3  0.5  15.0      0      0    7.2250      0
876         0       3  1.0  20.0      0      0    9.8458      0
877         0       3  1.0  19.0      0      0    7.8958      0
878         0       3  1.0   0.0      0      0    7.8958      0
879         1       1  0.5  56.0      0      1   83.1583      1
880         1       2  0.5  25.0      0      1   26.0000      0
881         0       3  1.0  33.0      0      0    7.8958      0
882         0       3  0.5  22.0      0      0   10.5167      0
883         0       2  1.0  28.0      0      0   10.5000      0
884         0       3  1.0  25.0      0      0    7.0500      0
885         0       3  0.5  39.0      0      5   29.1250      0
886         0       2  1.0  27.0      0      0   13.0000      0
887         1       1  0.5  19.0      0      0   30.0000      1
888         0       3  0.5   0.0      1      2   23.4500      0
889         1       1  1.0  26.0      0      0   30.0000      1
890         0       3  1.0  32.0      0      0    7.7500      0

[891 rows x 8 columns]

In [160]:
df_test_1 = pd.read_csv('.\\test_1.csv')

In [161]:
df_test_1

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S
5,897,3,"Svensson, Mr. Johan Cervin",male,14.0,0,0,7538,9.2250,NaN,S
6,898,3,"Connolly, Miss. Kate",female,30.0,0,0,330972,7.6292,NaN,Q
7,899,2,"Caldwell, Mr. Albert Francis",male,26.0,1,1,248738,29.0000,NaN,S
8,900,3,"Abrahim, Mrs. Joseph (Sophie Halaut Easu)",female,18.0,0,0,2657,7.2292,NaN,C
9,901,3,"Davies, Mr. John Samuel",male,21.0,2,0,A/4 48871,24.1500,NaN,S
10,902,3,"Ilieff, Mr. Ylio",male,NaN,0,0,349220,7.8958,NaN,S
11,903,1,"Jones, Mr. Charles Cresson",male,46.0,0,0,694,26.0000,NaN,S
12,904,1,"Snyder, Mrs. John Pillsbury (Nelle Stevenson)",female,23.0,1,0,21228,82.2667,B45,S
13,905,2,"Howard, Mr. Benjamin",male,63.0,1,0,24065,26.0000,NaN,S
14,906,1,"Chaffee, Mrs. Herbert Fuller (Carrie Constance...",female,47.0,1,0,W.E.P. 5734,61.1750,E31,S
15,907,2,"del Carlo, Mrs. Sebastiano (Argenia Genovesi)",female,24.0,1,0,SC/PARIS 2167,27.7208,NaN,C
16,908,2,"Keane, Mr. Daniel",male,35.0,0,0,233734,12.3500,NaN,Q
17,909,3,"Assaf, Mr. Gerios",male,21.0,0,0,2692,7.2250,NaN,C
18,910,3,"Ilmakangas, Miss. Ida Livija",female,27.0,1,0,STON/O2. 3101270,7.9250,NaN,S
19,911,3,"Assaf Khalil, Mrs. Mariana (Miriam"")""",female,45.0,0,0,2696,7.2250,NaN,C
20,912,1,"Rothschild, Mr. Martin",male,55.0,1,0,PC 17603,59.4000,NaN,C
21,913,3,"Olsen, Master. Artur Karl",male,9.0,0,1,C 17368,3.1708,NaN,S
22,914,1,"Flegenheim, Mrs. Alfred (Antoinette)",female,NaN,0,0,PC 17598,31.6833,NaN,S
23,915,1,"Williams, Mr. Richard Norris II",male,21.0,0,1,PC 17597,61.3792,NaN,C
24,916,1,"Ryerson, Mrs. Arthur Larned (Emily Maria Borie)",female,48.0,1,3,PC 17608,262.3750,B57 B59 B63 B66,C
25,917,3,"Robins, Mr. Alexander A",male,50.0,1,0,A/5. 3337,14.5000,NaN,S
26,918,1,"Ostby, Miss. Helene Ragnhild",female,22.0,0,1,113509,61.9792,B36,C
27,919,3,"Daher, Mr. Shedid",male,22.5,0,0,2698,7.2250,NaN,C
28,920,1,"Brady, Mr. John Bertram",male,41.0,0,0,113054,30.5000,A21,S
29,921,3,"Samaan, Mr. Elias",male,NaN,2,0,2662,21.6792,NaN,C
...,...,...,...,...,...,...,...,...,...,...,...
388,1280,3,"Canavan, Mr. Patrick",male,21.0,0,0,364858,7.7500,NaN,Q
389,1281,3,"Palsson, Master. Paul Folke",male,6.0,3,1,349909,21.0750,NaN,S
390,1282,1,"Payne, Mr. Vivian Ponsonby",male,23.0,0,0,12749,93.5000,B24,S
391,1283,1,"Lines, Mrs. Ernest H (Elizabeth Lindsey James)",female,51.0,0,1,PC 17592,39.4000,D28,S
392,1284,3,"Abbott, Master. Eugene Joseph",male,13.0,0,2,C.A. 2673,20.2500,NaN,S
393,1285,2,"Gilbert, Mr. William",male,47.0,0,0,C.A. 30769,10.5000,NaN,S
394,1286,3,"Kink-Heilmann, Mr. Anton",male,29.0,3,1,315153,22.0250,NaN,S
395,1287,1,"Smith, Mrs. Lucien Philip (Mary Eloise Hughes)",female,18.0,1,0,13695,60.0000,C31,S
396,1288,3,"Colbert, Mr. Patrick",male,24.0,0,0,371109,7.2500,NaN,Q
397,1289,1,"Frolicher-Stehli, Mrs. Maxmillian (Margaretha ...",female,48.0,1,1,13567,79.2000,B41,C
398,1290,3,"Larsson-Rondberg, Mr. Edvard A",male,22.0,0,0,347065,7.7750,NaN,S
399,1291,3,"Conlon, Mr. Thomas Henry",male,31.0,0,0,21332,7.7333,NaN,Q
400,1292,1,"Bonnell, Miss. Caroline",female,30.0,0,0,36928,164.8667,C7,S
401,1293,2,"Gale, Mr. Harry",male,38.0,1,0,28664,21.0000,NaN,S
402,1294,1,"Gibson, Miss. Dorothy Winifred",female,22.0,0,1,112378,59.4000,NaN,C
403,1295,1,"Carrau, Mr. Jose Pedro",male,17.0,0,0,113059,47.1000,NaN,S
404,1296,1,"Frauenthal, Mr. Isaac Gerald",male,43.0,1,0,17765,27.7208,D40,C
405,1297,2,"Nourney, Mr. Alfred (Baron von Drachstedt"")""",male,20.0,0,0,SC/PARIS 2166,13.8625,D38,C
406,1298,2,"Ware, Mr. William Jeffery",male,23.0,1,0,28666,10.5000,NaN,S
407,1299,1,"Widener, Mr. George Dunton",male,50.0,1,1,113503,211.5000,C80,C
408,1300,3,"Riordan, Miss. Johanna Hannah""""",female,NaN,0,0,334915,7.7208,NaN,Q
409,1301,3,"Peacock, Miss. Treasteall",female,3.0,1,1,SOTON/O.Q. 3101315,13.7750,NaN,S
410,1302,3,"Naughton, Miss. Hannah",female,NaN,0,0,365237,7.7500,NaN,Q
411,1303,1,"Minahan, Mrs. William Edward (Lillian E Thorpe)",female,37.0,1,0,19928,90.0000,C78,Q
412,1304,3,"Henriksson, Miss. Jenny Lovisa",female,28.0,0,0,347086,7.7750,NaN,S
413,1305,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S
414,1306,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
415,1307,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
416,1308,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
417,1309,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C

In [162]:
df_test_1 = df_test_1.drop(['PassengerId','Name','Ticket','Embarked'],axis=1)
df_test_1['Age'] = df_test_1['Age'].fillna(0)
df_test_1['Cabin'] = df_test_1['Cabin'].fillna(0)
for i in range(len(df_test_1['Cabin'])):
    if df_test_1['Cabin'][i] != 0:
#         print(i)
        num = df_test_1['Cabin'][i].split(' ')
#         print(len(num))
#         print('\n')
        df_test_1['Cabin'][i] = len(num)
df_test_2 = df_test_1.replace({'male':1,'female':0.5})

E:\Anaconda3\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.

In [163]:
np.where(df_test_2.isnull())

(array([], dtype=int64), array([], dtype=int64))

In [164]:
clf_1 = RandomForestClassifier(n_estimators=10, max_depth=None,min_samples_split=2, random_state=0)

In [152]:
train_features

     Pclass  Sex   Age  SibSp  Parch      Fare  Cabin
0         3  1.0  22.0      1      0    7.2500      0
1         1  0.5  38.0      1      0   71.2833      1
2         3  0.5  26.0      0      0    7.9250      0
3         1  0.5  35.0      1      0   53.1000      1
4         3  1.0  35.0      0      0    8.0500      0
5         3  1.0   0.0      0      0    8.4583      0
6         1  1.0  54.0      0      0   51.8625      1
7         3  1.0   2.0      3      1   21.0750      0
8         3  0.5  27.0      0      2   11.1333      0
9         2  0.5  14.0      1      0   30.0708      0
10        3  0.5   4.0      1      1   16.7000      1
11        1  0.5  58.0      0      0   26.5500      1
12        3  1.0  20.0      0      0    8.0500      0
13        3  1.0  39.0      1      5   31.2750      0
14        3  0.5  14.0      0      0    7.8542      0
15        2  0.5  55.0      0      0   16.0000      0
16        3  1.0   2.0      4      1   29.1250      0
17        2  1.0   0.0      0      0   13.0000      0
18        3  0.5  31.0      1      0   18.0000      0
19        3  0.5   0.0      0      0    7.2250      0
20        2  1.0  35.0      0      0   26.0000      0
21        2  1.0  34.0      0      0   13.0000      1
22        3  0.5  15.0      0      0    8.0292      0
23        1  1.0  28.0      0      0   35.5000      1
24        3  0.5   8.0      3      1   21.0750      0
25        3  0.5  38.0      1      5   31.3875      0
26        3  1.0   0.0      0      0    7.2250      0
27        1  1.0  19.0      3      2  263.0000      3
28        3  0.5   0.0      0      0    7.8792      0
29        3  1.0   0.0      0      0    7.8958      0
..      ...  ...   ...    ...    ...       ...    ...
861       2  1.0  21.0      1      0   11.5000      0
862       1  0.5  48.0      0      0   25.9292      1
863       3  0.5   0.0      8      2   69.5500      0
864       2  1.0  24.0      0      0   13.0000      0
865       2  0.5  42.0      0      0   13.0000      0
866       2  0.5  27.0      1      0   13.8583      0
867       1  1.0  31.0      0      0   50.4958      1
868       3  1.0   0.0      0      0    9.5000      0
869       3  1.0   4.0      1      1   11.1333      0
870       3  1.0  26.0      0      0    7.8958      0
871       1  0.5  47.0      1      1   52.5542      1
872       1  1.0  33.0      0      0    5.0000      3
873       3  1.0  47.0      0      0    9.0000      0
874       2  0.5  28.0      1      0   24.0000      0
875       3  0.5  15.0      0      0    7.2250      0
876       3  1.0  20.0      0      0    9.8458      0
877       3  1.0  19.0      0      0    7.8958      0
878       3  1.0   0.0      0      0    7.8958      0
879       1  0.5  56.0      0      1   83.1583      1
880       2  0.5  25.0      0      1   26.0000      0
881       3  1.0  33.0      0      0    7.8958      0
882       3  0.5  22.0      0      0   10.5167      0
883       2  1.0  28.0      0      0   10.5000      0
884       3  1.0  25.0      0      0    7.0500      0
885       3  0.5  39.0      0      5   29.1250      0
886       2  1.0  27.0      0      0   13.0000      0
887       1  0.5  19.0      0      0   30.0000      1
888       3  0.5   0.0      1      2   23.4500      0
889       1  1.0  26.0      0      0   30.0000      1
890       3  1.0  32.0      0      0    7.7500      0

[891 rows x 7 columns]

In [165]:
clf_1.fit(train_features,train_labels)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
            oob_score=False, random_state=0, verbose=0, warm_start=False)

In [167]:
pratice_1 = clf_1.predict(df_test_2)

In [168]:
print(pratice_1)

[0 0 0 1 0 0 0 0 1 0 0 0 1 0 1 1 0 0 1 0 0 0 1 0 1 0 1 1 1 0 0 0 1 0 1 0 0
 0 0 0 0 0 0 1 1 0 0 0 1 1 1 0 1 1 0 0 0 0 0 1 0 0 0 1 0 1 1 0 0 1 0 0 0 0
 1 0 0 1 0 0 1 0 0 0 0 0 1 0 1 1 1 0 1 0 0 0 1 1 0 0 1 0 0 0 1 0 0 0 0 0 0
 1 1 1 1 0 0 1 1 1 1 0 1 0 0 1 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 1 0 0 0
 1 0 1 0 0 1 0 0 1 0 1 1 1 1 1 0 0 1 0 0 1 0 0 1 0 0 0 1 1 0 1 1 0 0 1 0 0
 0 1 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 1 0 1 0 1 0
 1 0 1 0 0 1 0 0 0 1 0 0 0 0 1 1 1 1 1 1 0 0 0 0 1 0 1 0 1 0 0 0 0 0 0 0 1
 0 0 0 1 1 0 0 0 0 0 0 0 0 1 1 0 1 0 0 0 0 0 1 1 0 1 0 0 0 0 0 0 0 0 0 0 0
 1 0 0 0 0 0 0 0 1 1 1 1 0 0 0 1 0 0 1 1 0 0 0 0 0 0 1 1 1 0 1 0 0 0 1 0 0
 1 0 0 1 0 0 0 0 0 0 1 1 1 0 0 0 1 1 0 0 0 1 0 1 0 0 0 0 1 1 1 1 0 0 0 1 0
 0 1 0 0 1 1 0 0 0 0 0 0 0 0 1 1 0 0 0 0 0 1 0 0 0 1 0 1 0 0 1 0 1 0 0 1 0
 0 1 1 1 1 0 0 1 0 0 0]

In [170]:
sheet_1 = pd.DataFrame(pratice_1)
print(sheet_1)

     0
0    0
1    0
2    0
3    1
4    0
5    0
6    0
7    0
8    1
9    0
10   0
11   0
12   1
13   0
14   1
15   1
16   0
17   0
18   1
19   0
20   0
21   0
22   1
23   0
24   1
25   0
26   1
27   1
28   1
29   0
..  ..
388  0
389  0
390  0
391  1
392  0
393  0
394  0
395  1
396  0
397  1
398  0
399  0
400  1
401  0
402  1
403  0
404  0
405  1
406  0
407  0
408  1
409  1
410  1
411  1
412  0
413  0
414  1
415  0
416  0
417  0

[418 rows x 1 columns]

In [172]:
writer = pd.ExcelWriter('pratice_1.xlsx')
sheet_1 = pd.DataFrame(pratice_1)
sheet_1.to_excel(writer)
writer.close()

In [178]:
len(train_features.keys())

7